.footer{
    background-color: #040416;
    color: #fff;
    width: 100%;
    height: 50vh;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer a img{
    width: 150px;
    height: 150px;
    padding-left: 50px;
}
.footer .footer-col{
    flex-direction: column;
    width: 200px;
}
.footer h2{
    font-size: 20pt;
    margin-top: -50px;
    padding-bottom: 20px;
}
.footer p{
    font-size: 10pt;
}
.footer svg{
    width: 30px;
    height: 30px;
    fill: #54acdd;
    padding-bottom: 10px;
}