.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/assets/bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 5em;
    height: 5em;
}
nav p{
    font-size: 20pt;
    font-weight: 700;
    color: #54acdd;
    padding-left: 30px;
}
.navLinks{
    flex: 1;
    text-align: right;
}
.navLinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navLinks ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15pt;
    font-weight: 700;
}
.navLinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #54acdd;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navLinks ul li:hover::after{
    width: 100%;
}